@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    margin: 0;
    padding: 0;
}

potta {
    font-family: 'Potta One', cursive;
}

questrial {
    font-family: 'Questrial', cursive;
}

poppins {
    font-family: 'Poppins', cursive;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ///////////// VERSION PC \\\\\\\\\\\\ */

/* MENU */
@media (min-width: 1200px) {

.version_mobile{
    display: none;
}    
    
header {
    width: 95%;
    margin: auto;
    font-size: 21px;
}

header nav {
    width: 100%;
    display: flex;
    align-items: center;
}

header nav .logo {
    width: 100%;
    font-family: 'Potta One', cursive;
    font-size: 34px;
    color: #7ED957;
}

header nav ul {
    display: flex;
    justify-content: end;
    margin-right: 20px;
    width: 100%;
    font-family: 'Poppins', cursive;
}

header nav ul li {
    margin-right: 20px;  
}

.btn_create_annonce {
    margin-right: 60px;
    background-color: #7ED957;
    padding: 8px 30px;
    border-radius: 10px;
    color: black;
}

.btn_annonce {
    transition: 0.5s;
}

.btn_annonce:hover {
    transform: scale(1.05);
}

.link_register{
    width: 90px;
}

.link_login {
    width: 150px;
}

.login, .register{
    color: black;
}

.register:hover {
    font-weight: bold;
}

.login:hover {
    font-weight: bold;
}

/* BANNIERE */

.banniere {
    width: 100%;
    height: 360px;
    background-color: #7ED957;
    display: flex;
}
.avatar-banniere{
    width: 30px;
    padding-left: 10px;
}
.contain_content_banniere {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contain_img_planter{
    width: 20%;
}
.img_planter{
    width: 100%;
    margin-top: 60px;
}

.contain_img_recever {
    position: relative;
    width: 20%;
}
.img_recever {
    width: 100%;
}

.contain_text_banniere{
    width: 40%;
    margin-top: -60px;
}

.text_banniere{
    width: 100%;
    font-family: 'Poppins';
    font-size: 40px;
}

.btn_donner{
    display: inline-block;
    padding: 8px 28px;
    background-color: white;
    border-radius: 6px;
    font-family: "Poppins";
    font-weight: bold;
    margin-right: 20px;
    border: 1px solid black;
    transition: 0.5s;
}

.btn_donner:hover{
    background-color: #7ED957;
    color: black;
    border: 1px solid black;
    box-shadow: 2px 2px 1px black;
}

.btn_conseiller{
    display: inline-block;
    padding: 8px 28px;
    background-color: black;
    color: #7ED957;
    border-radius: 6px;
    font-family: "Poppins";
    font-weight: bold;
    border: 1px solid black;
    transition: 0.5s;
}

.btn_conseiller:hover{
    background-color: #7ED957;
    color: black;
    border: 1px solid black;
    box-shadow: 2px 2px 1px black;
}

.contain_slogan{
    position: absolute;
    bottom: 50px;
    left: -80px;
    transform: rotate(-20deg);
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 21px;
}

/* TEXT EN DESSOUS DE LA BANNIERE PRINCIPAL */

.color_cawottes {
    color: orange;
    font-weight: bold;
}

.first_parag {
    margin: 60px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contain_parag{
    width: 60%;
    margin: auto;
}

.img_cawottes{
    display: flex;
    align-items: center;
}

.img_cawottes img{
    width: 130px;
}

.img_cawottes h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins';
}

.text_first_parag{
    display: flex;
    position: relative;
}

.text_first_parag p{
    width: 85%;
    font-size: 24px;
    font-family: "Poppins";
    margin-top: -15px;
    margin-left: 40px;
}

.text_first_parag img{
    width: 34%;
    position: absolute;
    top: -130px;
    right: -240px;
}

.redirection_dons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-size: 20px;
    background-color: #7ED957;
    width: 450px;
    margin: 60px auto -20px;
    height: 40px;
    border-radius: 10px;
}

.redirection_dons a {
    display: inline-block;
    color: white;
    transition: 0.5s;
}

.redirection_dons a:hover {
    transform: scale(1.05);
}

/* ANNONCE */

.contain_annonce {
    width: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
    height: 600px;
}

.contain_annonce h3 {
    margin-top: -5px;
    text-align: center;
}
.avatar_auteur, .note_etoile{
    display: flex; 
}

.avatar_auteur {
    margin-left: -16px;
    width: 50%;
}

.avatar_auteur img {
    width: 50px;
}

.note_etoile{
    width: 70%;
    justify-content: end;
    margin-right: -14px;
}

.note_etoile img {
    width: 50px;
    margin-top: -4px;
}

.annonce_text {
    margin-top: -70px;
    display: flex;
}

.flex {
    display: flex;
}


/* PARTIE BLOG BANNIERE */

.container_banniere_blog{
    width: 100%;
    background-color: #7ED957;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
    margin-bottom: 20px;
    padding: 30px 0px;
}

.container_banniere_blog h2{
    font-size: 30px;
    font-weight: bold;
}

.contain_text_banniere_blog{
    width: 60%;
    font-size: 20px;
    margin-left: 100px;
    display: flex;
}

.container_banniere_blog img{
    width: 20%;
    margin-top: -40px;
}

/* PARTIE BLOG COPIER DE ANNONCE */
.container_blog {
    margin: 60px 0 -30px 0;
}

/* FOOTER */

footer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(79, 79, 79);
    font-family: 'Poppins';
}

.container_content_footer{
    width: 100%;
    align-items: center;
    display: flex;
}

footer a{
    color: white;
}

.contain_links_footer_left, .contain_links_footer_middle, .contain_links_footer_right{
    display: flex;
    justify-content: center;
    width: 100%;
}

.contain_links_footer_left a, .contain_links_footer_middle a{
    margin-right: 5px;
}

.icon_facebook{
    width: 25px;
}


/* css registerForm*/
.bg_form_login{
    background-color: #7ED957;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_form_login{
    display: flex;
}
.container_form_login h2 {
    font-size: 18px;
    font-weight: 400;
    margin-top: -20px;
    font-family: 'Poppins';
}

.container_form_login{
    width: 30%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    
}
.form-group{

    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    margin-bottom: 10px;
    width:91%;
}
.form-group label{
    font-size: 14px;
}
.form-control{
    border:1px solid #7ED957;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}
.input_password{
    margin-bottom: 20px;
}
.alert{
    color: red;
}
.alert_inscription{
    color: black;
    font-family: 'Poppins';
    margin-bottom: 580px;
    text-align: center;
}

.btn_connexion{
    width: 100%;
    margin-top: 10px;
    background-color: #7ED957;
    border-radius: 5px;
    padding: 8px;
    color: white;
    font-weight: bold;
    background-color: #7ED957;

}
.container_form_login img{
    margin: auto;
    width: 30%;

}
.text_login{
    font-family: 'Poppins';
        font-size: 12px;
        text-align: center;
}
.text_login a {
    color: black;
    transition: 0.3s;
    font-weight: 600;
}

.text_login a:hover{
    color: #7ED957;
}


/* css formRegister*/

.bg_form_register {
    
    background-color: #7ED957;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert_inscrption{
    color: red;
    font-family: "Poppins";
    font-size: 14px;

}

.fl_retour_register {
    
    position: absolute;
    top: 10px;
    left: 10px;
}
.logo_form_register {
    display: flex;
}
.container_form_register h2 {
    font-size: 18px;
    font-weight: 400;
    margin-top: -20px;
    font-family: 'Poppins';
}

.container_form_register {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
    
}
.form_register{
    width: 50%;
}
.container_form_register img {
    width: 30%;
    margin: auto;

}

.btn_inscription {
    width: 100%;
    margin-top: 20px;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-family: 'Poppins';
    background-color: #7ED957;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;

}
.text_register {
    font-family:'Poppins' ;
    font-size: 12px;
    text-align: center;
    
}
.text_register a {
    color: black;
    transition: 0.3s;
    font-weight: 600;

}
.text_register a:hover{
    color: #7ED957;

}
/* css oeil*/
.password-container {
    position: relative;
}

#togglePassword {
    position: absolute;
    right: -9px;
    /* Ajustez cette valeur pour le positionnement horizontal */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.login_eye{
    bottom: -6px;
}

/* CSS menu déoulant*/
.user-dropdown {
    margin-top: 73.3px;
    height: 100%;
    width: 250px;
    position: fixed;
    border-bottom-left-radius: 70%;
    border-top-left-radius: 10%;
    z-index: 1;
    top: 0;
    right: -250px;
    background-color: orange;
    padding-top: 60px;
    transition: right 0.5s ease;
}

/* Sidenav menu links */
.user-dropdown a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.user-dropdown a:hover {
    color: #111;
}

.user-dropdown ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Active class */
.user-dropdown.active {
    right: 0;
}

/* Close btn */
.user-dropdown.close {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
}
.user-dropdown img{
    cursor: pointer;
    transition: 0.2s;
    float: right;
    margin-top: -50px;
    margin-right: 10px;
}
.user-dropdown img:hover {
    transform: scale(1.1);
}
.user-dropdown ul hr{
    height: 1px;
    width:200px; 
    background-color: black;
    border: none;
}

}
/*css Mon profil*/
.container-profil {
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
}
.formulaire-profil{
    width: 100%;
}

.form-group-profil{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.form-group-profil label{
    flex: 1;
    margin-right: 100px;
    padding-left: 40px;
    font-size: 16px;
    font-family: 'Poppins';
}

.formulaire-profil input:not([readonly]){
    background-color: rgb(220, 239, 255);
}
.formulaire-profil h3{
    padding-left: 40px;
    padding-bottom: 20px;
    font-size: 22px;
    font-family: 'Poppins';
}
.container-profil input {
    padding: 10px;
    width: 350px;
    border: 0;
    border-radius: 6px;
    font-size: 16px;
    font-family: 'Poppins';
    
}

.btn_profil {
    margin-left: 460px;
    margin-top:10px;
    width: 280px;
    padding: 10px;
    color: white;
    font-size:16px ;
    font-weight: bold;
    font-family: 'Poppins';
    background-color: #7ED957;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.monProfil {
    text-align: center;
}
.form-group-profil-avatar{
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    margin-top: 12%;
}
.js-modal-avatar{
    width: 150px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 16px;
    background-color: #7ED957;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    padding: 5px;
}

/*Css modal modifier annonce*/

.modal{
    
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    opacity: 0.5;
    height: 100vh;

}

.modal-wrapper{
    position: relative;
    z-index: 10;
    overflow: auto;
    width: 450px; 
    padding: 10px 20px 20px 25px ;
    background-color: white;
    border-radius: 20px;  
    opacity:none ; 
}
.close-modal {
    position: absolute;
    left: 93%;
    top: 5px;
    cursor: pointer;
}
/* formulaire modification annonce*/

.form-control-update {
    border: 1px solid #7ED957;
    border-radius: 8px;
    padding: 10px;
    margin-top:5px;
    width: 93%;
}
.form-group-update{
    padding: 10px;
}
.btn_valider_modif {
    margin: 0 auto;
    display: block;
    background-color: #7ED957;
    padding: 8px 30px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-family: 'Poppins';
    margin-top: 20px;
    cursor: pointer;
    
}

.image_preview{
    display: block;
    margin-left:10px ;
    padding-top: 30px;
}

.bg-opack{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: white;
}
/* css mes Annonces*/
.create-annonce-profil{
    margin-top: 40px;
}
.btn_create_annonce_profil{
padding: 10px;
background-color: #7ED957;
padding: 8px 25px;
border-radius: 10px;
}
/*Css modal delete*/
.modaldelete {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    width: 100%;
    height: 100%;

}
.modal-wrapper-delete {
    width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    
}

#titlemodal{
    text-align: center;
    
}

.js-modal,.js-modal-delete{
    cursor: pointer;
}
/* modal avatar*/
.modal-avatar{
    display: none;
    position: fixed;
    top: 55%;
    left: 68%;
    width: 100%;
    height: 100%;
}
.close-modal-avatars{
    position: absolute;
    left: 20%;
}
.modal-wrapper-avatars {
    width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);

}
.avatar-options input[type="radio"]{
    display: none;
}
.selected-avatar{
    border: 2px solid green;
}
#selected-avatar-preview {
    width: 200px;
    height: 200px;
}